 body{
     margin: 0;
     padding: 0;
     background-color:  #b07cf7;
 }
 #bg-heder{
    width: 1000px;
    height: 700px;
    margin: 0 auto;
 }
 .block{
     text-align: center;
     
 }
 .flex{
     display: flex;
     justify-content: space-between;
     padding-top: 20px;
 }
 h1{
     color: white;
     font-size: 90px;
     padding: 0;
     padding-top: 50px;
     margin: 0 auto;
 }
 .text-heder{
     color: white;
     max-width: 500px;
     margin: 10px auto;
 }
 #block1{
     width: 300px;
     height: 300px;
     background-image: url(../img/1.png);
     opacity: 0.9;
     box-shadow: 0 13px 17px rgba(0, 0, 0, 0.5)
 }
 #block2{
    width: 300px;
    height: 300px;
    background-image: url(../img/2.png);
    opacity: 0.9;
    box-shadow: 0 13px 17px rgba(0, 0, 0, 0.5)
}
 #block3{
    width: 300px;
    height: 300px;
    background-image: url(../img/3.png);
    opacity: 0.9;
    box-shadow: 0 13px 17px rgba(0, 0, 0, 0.5)
}
#block1:hover{
    opacity: 1;
}
#block2:hover{
    opacity: 1;
}
#block3:hover{
    opacity: 1;
}
 .data {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #2626269f;  
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    line-height: 25px;
    text-align: center;
}
 .text{
     position: absolute;
     color: white;
     font-size: 22px;
     width: 280px;
     text-align: left;
     padding: 13px;
     font-weight: 600;
     padding-top: 120px;
 }
 .hour{
    position: absolute;
    color: white;
    padding: 13px;
    font-size: 18px;
    padding-top: 170px;
    width: 280px;
    text-align: left;
 }
 .content:hover {
    transform: scale(1.1);
    transition: all .4s ease-in;
    background: rgba(0,0,0,.5);
 }
 
 .btn{
     background-color: brown;
     border-radius: 10px;
     padding: 15px;
     margin-top: 50px;
     color:white;
     font-size: 20px;
     cursor: pointer;
     border: 1px solid white;
     width: 200px;
 }
 .btn:hover{
    padding: 15px;
    width: 220px;
    font-size: 22px;
    background-color:#d82525;
 }
 .gif {
  
    display:none;
    margin-top: 20px;
    
  }
  .show-gif {
    display: block;
  
  }